<?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <system.webServer>
       <security>
      <ipSecurity allowUnlisted="false">
      <add ipAddress="212.156.50.182"/>
      </ipSecurity>
    </security>
        <rewrite>
          <rules>
            <rule name="Angular Routes" stopProcessing="true">
              <match url=".*" />
              <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />   
              </conditions>
              <action type="Rewrite" url="/" />
            </rule>
          </rules>
        </rewrite>
        <directoryBrowse enabled="false" />
      </system.webServer>
    </configuration>