<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="
    min-height: 600px;
    background-size: cover;
    background-position: center top;
  ">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white"></h1>
        <p class="text-white mt-0 mb-5"></p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Model Adı</h3>
            </div>
            <div class="col-4 text-right">
              <a class="btn btn-sm btn-primary" (click)="refreshProductModelCostDto()">Yenile <i
                  class="fa-solid fa-arrows-rotate"></i></a>
            </div>
          </div>
        </div>
        <div class="card-body">

          <form *ngIf="productModelCostDto">
            <hr class="my-4" />
            <h6 class="heading-small text-muted mb-4">Model Maliyet Bilgisi</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Saç {{productModelCostDto.currencyName}} Fiyatı</label>
                    <input type="number" id="input-username" class="form-control form-control-alternative" disabled
                      value="{{
                        productModelCostDto.shateIronPrice
                      }}" />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">I {{productModelCostDto.currencyName}} Fiyatı</label>
                    <input type="number" id="input-email" class="form-control form-control-alternative" disabled value="{{
                        productModelCostDto.iProfilePrice
                      }}" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Malzeme {{productModelCostDto.currencyName}} Fiyatı</label>
                    <input type="number" id="input-first-name" class="form-control form-control-alternative" disabled
                      value="{{
                        productModelCostDto.materialAmount
                      }}" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Üretim Süresi</label>
                    <input type="number" id="input-first-name" class="form-control form-control-alternative" disabled
                      value="{{ productModelCostDto.modelProductionTime }}" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">İşçilik Saatlik Ücret {{productModelCostDto.currencyName}}</label>
                    <input type="number" id="input-first-name" class="form-control form-control-alternative" disabled
                      value="{{ productModelCostDto.laborCostPerHourEuro }}" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">İşçilik Dahil Ücret {{productModelCostDto.currencyName}}</label>
                    <input type="number" id="input-last-name" class="form-control form-control-alternative" disabled
                      value="{{
                        productModelCostDto.totalLaborCost
                      }}" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Toplam Maliyet {{productModelCostDto.currencyName}} Fiyatı</label>
                    <input type="number" id="input-first-name" class="form-control form-control-alternative" disabled
                      value="{{
                        productModelCostDto.totalAmount
                      }}" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Genel Gider</label>
                    <input type="number" id="input-last-name" class="form-control form-control-alternative" disabled
                      value="{{
                        productModelCostDto.generalExpenseAmount
                      }}" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Genel Gider Dahil</label>
                    <input type="number" id="input-first-name" class="form-control form-control-alternative" disabled
                      value="{{
                        productModelCostDto.overheadIncluded
                      }}" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Elektronik {{productModelCostDto.currencyName}} Fiyatı</label>
                    <input type="number" id="input-first-name" class="form-control form-control-alternative" disabled
                      value="{{
                        productModelCostDto.electronicAmount
                      }}" />
                  </div>
                </div>
              </div>
            </div>
          </form>
          <!-- Kurulum Bölgesine Göre Maliyet -->

          <hr class="my-4" />
          <h6 class="heading-small text-muted mb-4">
            Kurulum Yerine Göre Maliyet
          </h6>
          <div class="pl-lg-4">
            <div class="row mt-3">
              <div class="log-lg-6">
                <button type="button" class="btn btn-primary ml-2" (click)="exportationStatus(true)">
                  Türkiye İçi
                </button>
              </div>
              <div class="log-lg-6">
                <button type="button" class="btn btn-primary ml-1" (click)="exportationStatus(false)"
                  (click)="getCalculate()">
                  İhraç
                </button>
              </div>
            </div>

            <ng-container *ngIf="exportationstate">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Kurulum Yeri</label>
                    <select class="form-control" [(ngModel)]="installationCostLocationId">
                      <option selected disabled [ngValue]="null">
                        Şehir Seçiniz
                      </option>
                      <option *ngFor="
                          let installationCostDto of installationCostDtoList | alphabetical: 'cityName'
                        " [ngValue]="installationCostDto.locationId" selected>
                        {{ installationCostDto.cityName }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Aksesuar</label>
                    <select class="form-control" [(ngModel)]="accessoryId">
                      <option selected disabled [ngValue]="null">
                        Aksesuar Seçiniz
                      </option>
                      <option *ngFor="let accessory of accessoryList" [ngValue]="accessory.id" selected>
                        {{ accessory.accessoryName }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div _ngcontent-icv-c119="" class="d-flex justify-content-between">
                <a _ngcontent-icv-c119="" href="javascript:void(0)" class="btn btn-sm btn-info mr-4"
                  (click)="getCalculate()">Hesapla</a>
              </div>
            </ng-container>

            <ng-container *ngIf="turkeyHtmlState">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Kurulum Dahil €</label>
                    <input type="text" id="input-email" class="form-control form-control-alternative" disabled value="{{
                        productModelCostDetail.installationIncluded
                          | number : '1.2'
                      }}" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Satış Fiyatı €</label>
                    <input type="text" id="input-email" class="form-control form-control-alternative" disabled value="{{
                        productModelCostDetail.salesPrice
                          | number : '1.2-2'
                      }}" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Kar €</label>
                    <input type="text" id="input-email" class="form-control form-control-alternative" disabled value="{{
                        productModelCostDetail.profitPrice
                          | number : '1.2-2'
                      }}" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Son Fiyat €</label>
                    <input type="text" id="input-email" class="form-control form-control-alternative" disabled value="{{
                        productModelCostDetail.finalDiscountPrice
                          | number : '1.2-2'
                      }}" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <label class="form-control-label" for="input-email">Teklif Fiyatı €</label>
                  <input type="text" id="input-email" class="form-control form-control-alternative" disabled value="{{
                      productModelCostDetail.offerPrice | number : '1.2-2'
                    }}" />
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="exportationstate == false">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Satış Fiyatı €</label>
                    <br />
                    <input type="text" class="form-control form-control-alternative" disabled value="{{
                        productModelCostDetail.salesPrice
                          | number : '1.2-2'
                      }}" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Kar €</label>
                    <input type="text" id="input-email" class="form-control form-control-alternative" disabled value="{{
                        productModelCostDetail.profitPrice
                          | number : '1.2-2'
                      }}" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Son Fiyat €</label>
                    <input type="text" id="input-email" class="form-control form-control-alternative" disabled value="{{
                        productModelCostDetail.finalDiscountPrice
                          | number : '1.2-2'
                      }}" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <label class="form-control-label" for="input-email">Teklif Fiyatı €</label>
                  <input type="text" id="input-email" class="form-control form-control-alternative" disabled value="{{
                      productModelCostDetail.offerPrice | number : '1.2-2'
                    }}" />
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>