<div class="modal-body">
  <div class="mb-3">
    <div class="form-group">
      <form [formGroup]="electronicDetailForm" (submit)="save()">
        <div class="col-lg-12">
          <div class="modal-body">
            <div class="mb-3">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <label for="inputState">Aksesuar</label>
                    <select
                      id="electronicId"
                      name="electronicId"
                      class="form-control"
                      formControlName="electronicId"
                    >
                      <option selected disabled value="0">
                        Aksesuar Seçiniz
                      </option>
                      <option
                        *ngFor="let electronic of electronicList"
                        [ngValue]="electronic.id"
                      >
                        {{ electronic.electronicName }}
                      </option>
                    </select>
                  </div>

                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="form-group">
                      <label for="electronicPcs" class="form-control-label">
                        Aksesuar Adeti
                      </label>
                      <input
                        type="number"
                        id="electronicPcs"
                        name="electronicPcs"
                        formControlName="electronicPcs"
                        class="form-control form-control-alternative"
                      />
                    </div>
                  </div>

                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <button
                      type="submit"
                      class="btn btn-outline-dark mt-1"
                      [class.disabled]="electronicDetailForm.invalid"
                    >
                      Pakete Aksesuar Ekle
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12">
          <label for="inputState">Paket Aksesuarları</label>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Aksesuar Adı</th>
                <th scope="col">Aksesuar TL Fiyatı</th>
                <th scope="col">Aksesaur Euro Fiyatı</th>
                <th scope="col">Adet</th>
                <th scope="col" class="text-center">İşlemler</th>
              </tr>
            </thead>

            <tbody formArrayName="electronicDetails">
              <tr
                *ngFor="
                  let contact of electronicDetails.controls;
                  let i = index
                "
              >
                <ng-container [formGroupName]="i" *ngIf="contact">
                  <td scope="col">
                    {{ contact.get("modelElectronicDetailsId").value }}
                  </td>
                  <td scope="col">
                    <select
                      class="form-control"
                      formControlName="modelElectronicDetailsElectronicId"
                    >
                      <option
                        *ngFor="let electronic of electronicList"
                        [value]="electronic.id"
                      >
                        {{ electronic.electronicName }}
                      </option>
                    </select>
                  </td>

                  <td scope="col">
                    {{ contact.get("electronicTlPrice").value }}
                  </td>

                  <td scope="col">
                    {{ contact.get("electronicEuroPrice").value }}
                  </td>

                  <td scope="col">
                    <input
                      style="margin-left: 0px !important"
                      type="number"
                      class="form-control mx-sm-3"
                      formControlName="modelElectronicDetailsElectronicPcs"
                      value="{{
                        contact.get('modelElectronicDetailsElectronicPcs').value
                      }}"
                    />
                  </td>

                  <td scope="col">
                    <button
                      type="button"
                      class="btn btn-info m-1"
                      (click)="update(contact, i)"
                    >
                      GÜNCELLE
                    </button>

                    <button
                      type="button"
                      class="btn btn-danger"
                      (click)="remove(contact, i)"
                    >
                      SİL
                    </button>
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
  </div>
</div>
