<form [formGroup]="_sizeContentForm" (submit)="save()" >
    <div class="modal-body">
      <div class="mb-3">
        <div class="form-group">
          <div class="col-lg-12">
            <div class="modal-body">
              <div class="mb-3">
                <div class="form-group">
  
                  <div class="row"  >
                    <div _ngcontent-bya-c115="" class="col-lg-12">
                      <label for="inputState">Elektronik</label>
                      <select id="electronicId" name="electronicId" class="form-control" formControlName="electronicId">
                        <option selected disabled value="0">Elektronik Seçiniz</option>
                        <option *ngFor="let electronic of electronicList" [ngValue]="electronic.id" selected>
                          {{ electronic.electronicName }}
                        </option>
                      </select>
                    </div>
  
                    <div _ngcontent-bya-c115="" class="col-lg-3">
                      <div _ngcontent-bya-c115="" class="form-group">
                        <label _ngcontent-bya-c115="" for="input-username" class="form-control-label">Elektronik Adeti
                          Adeti</label>
                        <input _ngcontent-bya-c115="" type="number" id="input-username" id="electronicPcs"
                          formControlName="electronicPcs" value="1" class="form-control form-control-alternative" />
                      </div>
                    </div>
                    <div class="col-lg-3 mt-4">
                      <label _ngcontent-bya-c115="" for="input-username" class="form-control-label"></label>
                      <button type="submit" class="btn btn-success" [class.disabled]="_sizeContentForm.invalid">
                        Elektroniği Bağla
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div _ngcontent-bya-c115="" class="col-lg-12">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Elektronik Adı</th>
                  <th scope="col">Elektronik TL Fiyatı</th>
                  <th scope="col">Elektronik Euro Fiyatı</th>
                  <th scope="col">Adet</th>
                  <th scope="col">GÜNCELLE</th>
                  <th scope="col">SİL</th>
                </tr>
              </thead>
              <tbody formArrayName="sizeContentArray">
                <tr *ngFor="
                      let contact of sizeContent.controls;
                      let i = index
                    ">
                  <ng-container [formGroupName]="i" *ngIf="contact">
                    <td scope="col">
                      {{ contact.get("id").value }}
                    </td>
                    <td scope="col">
                        <select class="form-control" formControlName="electronicId">
                          <option *ngFor="let electronic of electronicList" [value]="electronic.id">
                            {{ electronic.electronicName }}
                          </option>
                        </select>
                      </td>
                    <td scope="col">
                      {{ contact.get("electronicTlPrice").value * contact.get('electronicPcs').value}}
                    </td>
                    <td scope="col">
                      {{ contact.get("electronicEuroPrice").value * contact.get('electronicPcs').value}}
                    </td>
                    <td scope="col">
                      <input style="margin-left: 0px !important" type="number" class="form-control mx-sm-3"
                        formControlName="electronicPcs" value="{{
                            contact.get('electronicPcs').value
                          }}" />
                    </td>
                    <td scope="col">
                      <button type="button" class="btn btn-info" (click)="update(contact, i)">
                        GÜNCELLE
                      </button>
                    </td>
                    <td scope="col">
                      <button type="button" class="btn btn-danger" (click)="remove(contact, i)">
                        SİL
                      </button>
                    </td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </form>
  