<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">Ürün Tablosu</h3>
          </div>
          <form _ngcontent-bti-c110="" 
          class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
          <div _ngcontent-bti-c110="" class="form-group mb-2" ng-reflect-ng-class="[object Object]">
              <div style="border-color:rgb(181 171 171 / 60%);" _ngcontent-bti-c110="" class="input-group input-group-alternative">
                  <div _ngcontent-bti-c110="" class="input-group-prepend"><span _ngcontent-bti-c110=""
                          class="input-group-text"><i style="color:black;" _ngcontent-bti-c110="" class="fas fa-search"></i></span></div>
                  <input style="color:black;"  _ngcontent-bti-c110=""  placeholder="Search" type="text" class="form-control" name="filterText" [(ngModel)]="filterText">
              </div>
          </div>
      </form>
       
      <ngx-datatable style="width:100%;" #table class="material whitespace-nowrap single-selection pt-2"
      [rows]="productList | filter:filterText" [scrollbarH]="true" [columnMode]="'force'" [headerHeight]="50"
      [limit]="20" [footerHeight]="50" [rowHeight]="60">
      <ngx-datatable-column name="ID" prop="productId">
      </ngx-datatable-column>
      <ngx-datatable-column name="Ürün Adı" prop="productName">
      </ngx-datatable-column>
      <ngx-datatable-column name="Ürün Kar Yüzdesi" prop="profitPercentage">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value | number :'1.2-2' }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Ürün Ek Kar Yüzdesi" prop="additionalProfitPercentage">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value | number :'1.2-2' }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="İşlemler" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <ng-container>
                    <div container="body" ngbDropdown placement="bottom-right">
                      <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" href="javascript:void(0)" (click)="deleteProduct(row)">Sil</a>
                        <a class="dropdown-item" href="javascript:void(0)" (click)="writeProduct(row)" (click)="openLg(productUpdatePopup)">Güncelle</a>
                      </div>
                    </div>
                  </ng-container>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
            </div>
          <div class="card-footer py-4">
            <div _ngcontent-icv-c119="" class="d-flex justify-content-between">
              <a _ngcontent-icv-c119="" (click)="openLg(productAddPopup)" href="javascript:void(0)" class="btn btn-sm btn-info mr-4" >Ürün Ekle</a>
            </div>
          </div>

          <form [formGroup]="_addProductForm">
            <ng-template #productAddPopup let-modal>
              <div class="modal-header popUpTitle">
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
  
              <div class="modal-body">
                <div class="mb-3">
                  <div class="form-group">
                    <div _ngcontent-bya-c115="" class="col-lg-12">
                      <div _ngcontent-bya-c115="" class="form-group">
                        <label _ngcontent-bya-c115="" for="input-username" class="form-control-label">Ürün
                          Adı</label>
                        <input _ngcontent-bya-c115="" type="text" id="input-username" id="productName"
                          formControlName="productName" class="form-control form-control-alternative">
                      </div>
                    </div>
                    <div _ngcontent-bya-c115="" class="col-lg-12">
                      <div _ngcontent-bya-c115="" class="form-group">
                        <label _ngcontent-bya-c115="" for="input-username" class="form-control-label">Kar Yüzdesi</label>
                        <input _ngcontent-bya-c115="" type="number" id="input-username" id="profitPercentage"
                          formControlName="profitPercentage" class="form-control form-control-alternative">
                      </div>
                    </div>
                    <div _ngcontent-bya-c115="" class="col-lg-12">
                      <div _ngcontent-bya-c115="" class="form-group">
                        <label _ngcontent-bya-c115="" for="input-username" class="form-control-label">Ek Kar Yüzdesi</label>
                        <input _ngcontent-bya-c115="" type="number" id="input-username" id="additionalProfitPercentage"
                          formControlName="additionalProfitPercentage" class="form-control form-control-alternative">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="addProduct()">Oluştur</button>
              </div>
            </ng-template>
          </form>


          <form [formGroup]="_updateProductForm">
            <ng-template #productUpdatePopup let-modal>
              <div class="modal-header popUpTitle">
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
  
              <div class="modal-body">
                <div class="mb-3">
                  <div class="form-group">
                    <div _ngcontent-bya-c115="" class="col-lg-12">
                      <div _ngcontent-bya-c115="" class="form-group">
                        <label _ngcontent-bya-c115="" for="input-username" class="form-control-label">Ürün
                          Adı</label>
                        <input _ngcontent-bya-c115="" type="text" id="input-username" id="productName"
                          formControlName="productName" class="form-control form-control-alternative">
                      </div>
                    </div>
                    <div _ngcontent-bya-c115="" class="col-lg-12">
                      <div _ngcontent-bya-c115="" class="form-group">
                        <label _ngcontent-bya-c115="" for="input-username" class="form-control-label">Kar Yüzdesi</label>
                        <input _ngcontent-bya-c115="" type="number" id="input-username" id="profitPercentage"
                          formControlName="profitPercentage" class="form-control form-control-alternative">
                      </div>
                    </div>
                    <div _ngcontent-bya-c115="" class="col-lg-12">
                      <div _ngcontent-bya-c115="" class="form-group">
                        <label _ngcontent-bya-c115="" for="input-username" class="form-control-label">Ek Kar Yüzdesi</label>
                        <input _ngcontent-bya-c115="" type="number" id="input-username" id="additionalProfitPercentage"
                          formControlName="additionalProfitPercentage" class="form-control form-control-alternative">
                      </div>
                    </div>
  
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="updateProduct()">Güncelle</button>
              </div>
            </ng-template>
          </form>

        </div>
      </div>
    </div>
  